body{
margin: 0;
padding: 0;
width: 100%;
}


h4{
    font-family: Oswald;
    font-weight: normal;
    font-size: 30px !important;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

h5{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;   
    line-height: 60px;
    letter-spacing: 1px;
    color: white;
}

h6{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;   
    line-height: 60px;
    letter-spacing: 1px;
    color: #4CB648;
}


#header {
    display: inline-block;
    width: 100%;
    background: url('../img/otras/header-bg.png');
    height: 80px;
    position: fixed;
    margin-top: 30px;
    z-index: 999;
    display: block;
}

.titulo-clau{
    float: left;
    width: 300px;
    font-size: 40px ;
    text-align: left;
    color: #fff ;
    margin-top: 15px;
}

#logo{
    float: left;
    margin-left: 20px;
    margin-top: -5px;
}

#nav { width: 40%; float: right; margin-top: 15px; }
#nav ul{ margin: 0 auto; list-style: none;  }
#nav li{ margin-top: 9px; float: left; padding-left: 21px; }
#nav li a { color: #fff; opacity:0.6; font-size: 18px; font-family:"Arvo"!important;font-weight: normal; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1; }

.wtsp-link{
    margin-left: 70% !important;
}


/*Responsive Styles*/
@media only screen and (max-width: 768px) {
    /*Make dropdown links appear inline*/
    ul {
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }

    .wtsp-link{
        margin-left: 60% !important;
    }

    .titulo-clau h4{
        font-size: 30px !important;
    }

    .site-header, text-right, h4{
        font-size: 20px !important;
    }
}



